body {
	/* background-color: #b1abb6; */
	background-color: #77608d;
}
ul {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	font-size: 25px;
	list-style-type: none;
}
